* {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */

}

:host {
    height: 100%;
}

.main-div {
    height: 100%;
    width: 100%;
}

.cover-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: #000000b0;
    background-image: url(/sfsites/c/resource/LoginBg);
    background-size: cover;
    background-position: center;
    transform: scaleX(-1);
}

.body-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    /* transform: scaleX(-1); */
    height: 100%;
    width: 100%;
    /* height: 49.2em; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* overflow-x: hidden;
    overflow-y: hidden; */
    /* background-position: center;
    transform: scaleX(-1); */
}

.form-div {
    margin-top: 8rem;
    margin-bottom: 8rem;
    background-color: #FFFFFFE5;
    border-radius: 12.8px;
    width: 57.5rem;
    height: 33.5625rem;
    display: flex;
    transform: scaleX(-1);
}

.back-div {
    position: absolute;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
}

.inner-div1 {
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-cover {
    /* position: absolute; */
    width: 19.375rem;
    height: 14.0625rem;
    top: 9.75rem;
    left: 4.1875rem;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
}

.inner-div2 {
    margin-right: 2.3rem;
    width: fit-content;
    height: 100%;
}

.Reset-text {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.10000000149011612px;
    margin-top: 7.75rem;
}

.reset-div {
    margin-top: 1.25rem;
    width: 27.625rem;
    height: 2.8125rem;
    padding: 0.75rem 1.25rem;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    border: 0.1rem solid #E0E2E9;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;
}

.input-fields {
    flex: 1;
    /* Cover whole div */
    border: none;
    /* Hide border */
    outline: none;
    color: #212123;
    /* color: #969AB8; */
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 0.9375rem;
    padding: 0.75rem 1.25rem;
    background-color: transparent;
}

.reset-btn {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 0.9375rem;
    width: 27.625rem;
    height: 2.9375rem;
    margin-top: 1.25rem;
    border-radius: 0.5rem;
    background-color: #0176D3;
    color: white;
    border: none;
}

.error-message {
    width: 27rem;
    font-family: "Poppins", sans-serif;
    color: #d40000;
    font-size: 0.8rem;
    margin-top: 0.2rem;
    padding: 0.5rem;
    animation: shake 0.4s ease-in-out;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-0.313rem);
    }

    50% {
        transform: translateX(0.313rem);
    }

    75% {
        transform: translateX(-0.313rem);
    }

    100% {
        transform: translateX(0);
    }
}

.eye-icon {
    width: 1.6875rem;
    /* 1.5rem * 0.8 */
    cursor: pointer;
    fill: #ADB0CD;
}

/* -----------------------------------For Mobile View------------------------------ */

@media only screen and (max-width: 480px) {
    .body-div {
        height: 53em;
    }

    .form-div {
        flex-direction: column;
        margin-top: 8rem;
        margin-bottom: 8rem;
        background-color: #FFFFFFE5;
        border-radius: 16px;
        width: 18.5rem;
        height: 28.5625rem;
        /* display: flex; */
        transform: scaleX(-1);
    }

    .image-cover {
        position: absolute;
        width: 90rem;
        height: 6.2rem;
        top: 2.95rem;
        left: 4.3975rem;
    }

    .inner-div2 {
        margin-bottom: 6rem;
        margin-left: 2.5rem;
    }

    .Reset-text {
        /* font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal; */
        font-size: 17px;
        /* line-height: 45px;
        letter-spacing: 0.10000000149011612px; */
        margin-top: 10rem;
    }

    .reset-div {
        width: 13.625rem;
        height: 2.5125rem;
    }

    .div1 {
        margin-top: 1rem;
    }

    .div2 {
        margin-top: 1rem;
    }

    .div3 {
        margin-top: 1rem;
    }

    .input-fields {
        font-weight: 500;
        font-style: normal;
        font-size: 0.6375rem;
        padding: 0.65rem 1.15rem;
        background-color: transparent;
    }

    .reset-btn {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 0.6375rem;
        width: 13.625rem;
        height: 2.5125rem;
        margin-top: 1rem;
        border-radius: 0.5rem;
        background-color: #0176D3;
        color: white;
        border: none;
    }

    .error-message {
        font-size: 0.6rem;
        margin-top: 0.1rem;
        padding: 0rem;
    }

    .openEye{
        width: 1.1rem;
    }

    .closeEye{
        width: 1.1rem;
    }
}