* {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */

}

.header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4.438rem;
    background-color: white;
}

:host {
    height: 100%;
}

.main-div {
    height: 100%;
    width: 100%;
}

.cover-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* z-index: 999; */
    background-color: #000000b0;
    background-image: url(/sfsites/c/resource/LoginBg);
    background-size: cover;
    background-position: center;
    transform: scaleX(-1);
}

.body-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    /* transform: scaleX(-1); */
    height: 100%;
    width: 100%;
    /* height: 49.2em; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* overflow-x: hidden;
    overflow-y: hidden; */
    /* background-position: center;
    transform: scaleX(-1); */
}

.form-div {
    margin-top: 8rem;
    margin-bottom: 8rem;
    background-color: #FFFFFFE5;
    border-radius: 12.8px;
    width: 57.5rem;
    height: 33.5625rem;
    display: flex;
    transform: scaleX(-1);
}

.inner-div1 {
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-div {
    position: absolute;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
}

.back-icon {
    height: 1.3rem;
    width: 1rem;
}

.image-cover {
    /* position: absolute; */
    width: 19.375rem;
    height: 14.0625rem;
    top: 9.75rem;
    left: 4.1875rem;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    /* opacity: 80%; */
}

.error-message {
    width: 27rem;
    font-family: "Poppins", sans-serif;
    color: #d40000;
    font-size: 0.8rem;
    margin-top: 0.2rem;
    padding: 0.5rem;
    animation: shake 0.4s ease-in-out;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-0.313rem);
    }

    50% {
        transform: translateX(0.313rem);
    }

    75% {
        transform: translateX(-0.313rem);
    }

    100% {
        transform: translateX(0);
    }
}

.inner-div2 {
    margin-right: 2.3rem;
    width: fit-content;
    height: 100%;
}

.login-text {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.10000000149011612px;
    margin-top: 10rem;
}

.verify-text {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.10000000149011612px;
    margin-top: 5.188rem;
}

.verify-text1 {
    font-family: "Inter", sans-serif;
    width: 21.438rem;
    font-weight: 400;
    font-size: 0.9999rem;
    color: #444444;
    margin-top: 0.875rem;
}

.verify-text2 {
    font-family: "Inter", sans-serif;
    /* width: 21.438rem; */
    font-weight: 400;
    font-size: 0.875rem;
    color: #444444;
    margin-top: 0.45rem;
}

.verify-text3 {
    font-family: "Inter", sans-serif;
    /* width: 21.438rem; */
    font-weight: 500;
    font-size: 0.9999rem;
    color: #00000080;
    margin-top: 0.775rem;
}

.verify-text4 {
    font-family: "Inter", sans-serif;
    text-decoration: underline;
    /* width: 21.438rem; */
    font-weight: 400;
    font-size: 0.875rem;
    color: #444444;
}

.resend-code {
    display: flex;
    align-items: center;
    margin-top: 1.27rem;
}

.resend-icon {
    margin-right: 0.313rem;
}

.lines-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 4.4rem; */
    margin: 0.2rem 1.9rem 1.5rem 1.9rem;
    /* margin: 4.4rem 1.9rem 1.5rem 1.9rem; */
}

/* .line{
    display: flex;
    align-items: center;
    margin: 0.4rem 1.9rem 1.5rem 1.9rem;
} */

.Reset-text {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.10000000149011612px;
    margin-top: 7.75rem;
}

.reset-div {
    margin-top: 1.25rem;
    width: 27.625rem;
    height: 2.8125rem;
    padding: 0.75rem 1.25rem;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    border: 0.1rem solid #E0E2E9;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;
}

.input-div {
    margin-top: 1.875rem;
    width: 27.625rem;
    height: 2.8125rem;
    padding: 0.75rem 1.25rem;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    border: 0.1rem solid #E0E2E9;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;
}


.input-fields {
    flex: 1;
    border: none;
    outline: none;
    color: #212123;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 0.9375rem;
    padding: 0.75rem 1.25rem;
    background-color: transparent;
}

.verify-fields {
    width: 1.9rem;
    /* height: 2rem; */
    margin-top: 1.8rem;
    margin-left: 2.3rem;
    text-align: center;
    /* margin: 2rem 0.4rem 0.4rem 0.6rem; */
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
    /* font-weight: 350; */
    font-style: normal;
    font-size: 1.9375rem;
    /* padding: 0.2rem; */
    background-color: transparent;
}

.login-btn {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 0.9375rem;
    width: 27.625rem;
    height: 2.9375rem;
    margin-top: 1.25rem;
    border-radius: 0.5rem;
    background-color: #0176D3;
    color: white;
    border: none;
}

.reset-btn {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 0.9375rem;
    width: 27.625rem;
    height: 2.9375rem;
    margin-top: 1.25rem;
    border-radius: 0.5rem;
    background-color: #0176D3;
    color: white;
    border: none;
}

.verify-btn {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 0.9375rem;
    width: 27.625rem;
    height: 2.9375rem;
    margin-top: 0.25rem;
    border-radius: 0.5rem;
    background-color: #0176D3;
    color: white;
    border: none;
}

.rotate-animation {
    animation: spin 1s linear;
    /* Infinite spin animation */
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.accounttext {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9375rem;
    color: #969AB8;
}

.span {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 0.9375rem;
    color: #0176D3;
    margin-left: 0.2rem;
}

.eye-icon {
    width: 1.6875rem;
    /* 1.5rem * 0.8 */
    cursor: pointer;
    fill: #ADB0CD;
}

/* -----------------------------------For Mobile View------------------------------ */

@media only screen and (max-width: 480px) {
    .image-cover {
        position: absolute;
        width: 90rem;
        height: 6.2rem;
        top: 2.95rem;
        left: 4.3975rem;
    }

    .body-div {
        height: 53em;
    }

    /* .inner-div1 {
        width: 50%;
        height: 30%;
        position: relative;
    } */

    .inner-div2 {
        margin-bottom: 6rem;
        margin-left: 2.5rem;
    }

    .form-div {
        flex-direction: column;
        margin-top: 8rem;
        margin-bottom: 8rem;
        background-color: #FFFFFFE5;
        border-radius: 16px;
        width: 18.5rem;
        height: 29.5625rem;
        /* display: flex; */
        transform: scaleX(-1);
    }

    .login-text {
        /* font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal; */
        font-size: 17px;
        /* line-height: 45px;
        letter-spacing: 0.10000000149011612px; */
        margin-top: 10rem;
    }

    .input-fields {
        font-weight: 500;
        font-style: normal;
        font-size: 0.6375rem;
        padding: 0.65rem 0rem 0.65rem 1rem;
        background-color: transparent;
    }

    .input-div {
        margin-top: 1.875rem;
        width: 13.625rem;
        height: 2.5125rem;
        padding: 0.75rem 1.25rem;
        border-radius: 0.5rem;
        border: 0.1rem solid #E0E2E9;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: white;
    }

    .input-div svg {
        width: 5rem;
    }

    .login-btn {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 0.6375rem;
        width: 13.625rem;
        height: 2.5125rem;
        margin-top: 1.25rem;
        border-radius: 0.5rem;
        background-color: #0176D3;
        color: white;
        border: none;
    }

    .verify-text {
        font-size: 17px;
        margin-top: 10rem;
    }

    .verify-text1 {
        font-size: 0.73rem;
        width: 14rem;
        font-weight: 200;
        margin-top: 0.175rem;
    }

    .verify-text2 {
        font-weight: 180;
        font-size: 0.6rem;
    }

    .verify-text3 {
        font-weight: 240;
        font-size: 0.7rem;
        margin-top: 0.4rem;
    }

    .verify-text4 {
        font-weight: 200;
        font-size: 0.675rem;
    }

    .verify-btn {
        font-size: 0.6375rem;
        width: 13.625rem;
        height: 2.5125rem;
    }

    .v1 {
        margin-left: 0.01rem;
        width: 1rem;
        margin-right: 1rem;
    }

    .v2 {
        width: 0.7rem;
        margin-left: 0.7rem;
        margin-right: 1rem;
    }

    .v3 {
        width: 0.8rem;
        margin-left: 0.7rem;
        margin-right: 1rem;
    }

    .v4 {
        width: 0.7rem;
        margin-left: 0.99rem;
        margin-right: 1rem;
    }

    .v5 {
        width: 0.7rem;
        margin-left: 0.9rem;
        margin-right: 1.21rem;
    }

    .v6 {
        width: 1.5rem;
        margin-right: 0rem;
        margin-left: 0.1em;
    }

    .verify-fields {
        /* margin-right: 1rem; */
        /* width: 1rem; */
        margin-top: 0.8rem;
        /* margin-left: 0.01rem; */
        font-size: 0.75rem;
        background-color: transparent;
    }

    .lines-container {
        width: 14rem;
        margin: 0.1rem 0rem 0.2rem 0rem;
    }   

    .line{
        overflow: hidden;
        width: 1rem;
    }

    /* .line svg{
        width: 1rem;
    } */

    .resend-code {
        margin-top: 0.7rem;
    }

    .resend-icon {
        margin-right: 0.313rem;
    }

    .error-message {
        font-size: 0.6rem;
        margin-top: 0.1rem;
        padding: 0rem;
    }

    .Reset-text {
        /* font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal; */
        font-size: 17px;
        /* line-height: 45px;
        letter-spacing: 0.10000000149011612px; */
        margin-top: 10rem;
    }

    .reset-div {
        width: 13.625rem;
        height: 2.5125rem;
    }

    /* .div2 {
        margin-top: 1.875rem;
    } */

    /* .div3 {
        margin-top: 1.375rem;
    } */

    .reset-btn {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 0.6375rem;
        width: 13.625rem;
        height: 2.5125rem;
        margin-top: 1.25rem;
        border-radius: 0.5rem;
        background-color: #0176D3;
        color: white;
        border: none;
    }

    .openEye{
        width: 1.1rem;
    }

    .closeEye{
        width: 1.1rem;
    }
}