.carousel-container {
    position: relative;
    width: 100%;
    height: 80vh;
    /* Set your desired height */
}

.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
    position: relative;
}

/* .carousel div {
    flex: 0 0 auto;
    width: 100%;
    transition: transform 0.5s ease;
} */

.backbtn {
    /* width: fit-content;
    position: absolute;
    top: 0%;
    left: 1%;
    display: flex;
    margin-top: 10px;
    padding: 0.5rem; */
    cursor: pointer;
}

.sharebtn {
    cursor: pointer;
}

.buttons{
    height: 10%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: -webkit-fill-available;
    padding-left: 2rem;
    padding-right: 2rem;
}

.box {
    border-radius: 8px;
    border: 3px solid white;
    margin: 0 5px;
    cursor: pointer;
}

.box img {
    border-radius: 8px;
    width: 100px;
    /* Set your desired width */
    height: 100px;
    /* Set your desired height */
}

.active {
    /* transform: scale(1.1); */
}

.tab-container {
    height: 100%;
    width: auto;
    padding: 1%;
    border-radius: 28px;
    overflow: overlay;
}

.tab-container::-webkit-scrollbar {
    display: none;
}

.tab-menu {
    display: flex;
    align-items: center;
    border: 2px solid rgba(1, 118, 211, 1);
    border-radius: 16px;
}

.tab-menu ul {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.tab-menu ul li {
    display: inline-block;
    list-style-type: none;
    width: 50%;
}

.tab-menu ul li a {
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 7px 35px;
    color: rgb(0, 0, 0);
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;


}

.tab-menu ul li a.active-tab {
    /* color: #1252AE;
    border-bottom: 2px solid #1252AE; */
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.3) 0%, rgba(1, 118, 211, 0.2) 19%, #FFFFFF 100%);
    border-radius: 16px;
}

.tab {
    padding-top: 25px;
    display: none;
}

.active-tab-content {
    display: block;
}


.box1 {
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    /* background-color: #F4F6F8; */
    padding: 1rem;
}

.imgBox {
    padding: 3%;
}

.info {
    padding: 3%;
}

.card {
    background-color: white;
    box-shadow: 0 2px 3px 0 rgba(36, 45, 60, 0.2);
}

.box2 {
    width: 100%;
    height: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
}

.detailBox {
    height: 100%;
    border: 1px solid white;
}

.info_Name h1{
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 19.2px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.info_Name p{
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 12.48px;
    text-align: left;
    color: rgba(140, 140, 140, 1);
    padding-top: 1rem;
}

.info_Price_tp{
    font-family: Poppins;
    font-size: 15px;
    font-weight: 600;
    line-height: 14.4px;
    text-align: left;
    color: rgba(42, 43, 63, 1);
}

.info_Price_value{
    font-family: Poppins;
    font-size: 22px;
    font-weight: 500;
    line-height: 21.12px;
    text-align: left;
    color: rgba(0, 110, 255, 1);
    padding-top: 1rem;
}

.container {
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.box3 {
    position: relative;
    width: 100%;
    height: 100%;
}

.layout {
    justify-content: center;
}

.roomDetails {
    width: 100%;
    height: 100%;
    /* margin: auto; */

    /* display: flex;
    justify-content: center; */
}

.numberBox {
    width: 130px;
    height: 90px;
    background-color: #E1F1FE;
    margin: 6%;
    border-radius: 12px;
}

.numberBox p {
    font-size: 16px;
    color: #6B6B6B;
}

.numbers {
    display: flex;
    justify-content: center;
}

.text p {
    font-size: 16px;
}

.imgicon img {
    height: 16px;
    width: 20px;
    cursor: pointer;
}

.facilities {
    width: 100%;
    height: 100%;
    /* margin: auto; */
    /* display: flex;
    justify-content: center; */
}

.facilities h1{
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 19.2px;
    text-align: left;
}

.facilityBox {
    width: 130px;
    height: 90px;
    border-radius: 12px;
    background-color: #E1F1FE;
    margin: 6%;
    color: #6B6B6B;
    cursor: pointer;
}

.facilityBox:hover {
    background-color: #0176D3;
    color: white;
}

.facilityBox:hover .iconImg {
    filter: brightness(0) invert(1);
}

.facilityBox img {
    height: 31.25px;
    width: 33.75px;
    cursor: pointer;
}

.facilityBox p {
    font-size: 12px;
    margin-top: 5px;
}

.about {
    width: 100%;
    height: 100%;
    /* margin: auto; */

}

.about p {
    text-align: justify;
}

.about h1{
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 19.2px;
    text-align: left;
}

.address {
    width: 100%;
    height: 100%;
}

.address h1{
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 19.2px;
    text-align: left;
}

.map {
    width: 100%;
    height: 300px;
    border-radius: 8px;
    /* border: 1px solid black; */
}

.map img {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    border-radius: 20px;
}

.slds-tabs_default__nav {
    display: block;
    margin: 5%;
}

.thumbnails {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    transition: transform .3s;
    border-radius: 12px;
}

.thumbnails img {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    object-fit: cover;
    object-position: 50% 20%;
    border-radius: 12px;
}

.thumbnails:hover {
    cursor: pointer;
    transform: scale(1.05);
    z-index: 20;
}

.PropertyImages {
    width: 100%;
    display: grid;
    grid: auto / auto auto auto auto auto;
    grid-gap: 35px;
    padding: 10px;
}

.black {
    text-align: center;
    background: #000;
    background-blend-mode: multiply;
    color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.6;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 99;
}

.black h3 {
    font-size: 8rem;
}

.black p {
    font-size: 2rem;
}

.Next_Previous_btn {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Previous_img_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    background: rgba(0, 0, 0, .6);
    cursor: pointer;
    margin-right: auto;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

.Next_img_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    background: rgba(0, 0, 0, .6);
    cursor: pointer;
    margin-left: auto;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

.img_preview_container {
    position: relative;
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_preview_container img {
    max-width: 100%;
    max-height: 100%;
}

.close_img {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 6px 10px;
    transition: all 0.24s linear;
    border-radius: 4px;
    background: rgb(81 83 85 / 80%);
}

.image_control_bar {
    position: absolute;
    z-index: 1;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 4rem;
    backdrop-filter: blur(0.7px);
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    padding-inline: 2rem;
    opacity: 1;
    transition: all 0.3s linear;
    background: #0000008c;
}

.image_title {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    color: white;
}

.image_preview {
    display: flex;
    position: fixed;
    top: 0%;
    left: 0%;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    --sds-c-icon-color-foreground-default: white;
}

img {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.main_BG{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: auto;
    opacity: 0.5;
}

.galleryFilterIcon{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 1rem;
    padding-bottom: 1rem;
}

.galleryFilterIcon_btn{
    padding: 10px 30px 10px 30px;
    border-radius: 8px;
    border: 2px solid rgba(1, 118, 211, 1);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: rgba(1, 118, 211, 1);
    background: white;
}

.galleryFilterIcon_btn.active {
    color: white;
    background: rgba(1, 118, 211, 1);
}

.images_total{
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 19.2px;
    text-align: left;
}

.images_total p b{
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 19.2px;
    text-align: left;
    color: rgba(1, 118, 211, 1);
}

.map_d1{
    font-family: Inter;
    font-size: 15px;
    font-weight: 700;
    line-height: 14.4px;
    text-align: left;
    color: rgba(42, 43, 63, 1);
}

.map_d2{
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 19.2px;
    text-align: right;
    color: rgba(0, 110, 255, 1);
}

.map_details{
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    justify-content: space-between;
}