.slds-card {
    display: contents;
}

.popup__custom-card .slds-p-around_medium{
    padding: 0rem 1rem 1rem !important;
}

.poInput .slds-input__icon_left{
    display: none;
}

.poInput .slds-input__icon_right{
    display: none;
}

.crossicon{
    right: calc(var(--lwc-spacingXxSmall,0.25rem) + 1px) !important;
    left: unset !important;
}
.crossicon .slds-button_icon-border{
    border: unset !important;
}
.popup__custom-card .slds-card__header{
    display: none;
}
.subFooter .slds-form-element__label:empty {
    margin: 0;
    display: none !important;
}
.filedata .slds-icon-action-remove {
    height: 1.5rem !important;
    width: 1.5rem !important;
    padding: 4px !important;
}