.slds-input-has-icon_left-right .slds-input{
    border: none;
}

/* .siteforceStarterBody .cCenterPanel {
    outline: none;
    max-width: none !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
 }

.slds-m-top--x-large {
    margin-top: 0 !important;
}

.slds-p-horizontal--medium {
    padding-left: 0 !important;
    padding-right: 0 !important;
} */
